{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('athleteDataSheet') }}
{% endblock %}

{% block content %}
    <div class="athleteDataSheet">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.athlete = {{ athlete|tojson }};
    </script>
    {{ encore_entry_script_tags('athleteDataSheet') }}
{% endblock %}
