{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block content %}
    <div class="contentcentral">
        <div class="contentcard">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="cardtitle">
                    <h1 class="h3 mb-3 font-weight-normal">Bejelentkezés</h1>
                </div>
                <label for="inputEmail">E-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required autofocus>
                <label for="inputPassword">Jelszó</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Felhasználó megjegyzése
                    </label>
                </div>

                <div class="loginsubmit">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Belépés
                    </button>
                </div>
            </form>
            <div class="password_reminder_link">
                <a href="{{ path('app_forgot_password_request') }}">Elfelejtettem a jelszavam!</a>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('login') }}
{% endblock %}
