{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('userManager') }}
{% endblock %}

{% block content %}
    <div class="userManager">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.workoutYearStart = {{ workoutYearStart|tojson }};
    </script>

    {{ encore_entry_script_tags('userManager') }}
{% endblock %}
