<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Hunracer
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="logos">
        <div class="logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/logo.png') }}" alt="Magyar Kerékpáros Szövegség">

            </a>
        </div>
        <div class="sitename">
            <a href="{{ path('home') }}">
                <h1><i>Hunracer</i></h1>
            </a>
        </div>
    </div>
    <div class="navigation">
        <nav class="navbar navbar-expand-sm">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link profileicon" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-3x"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('account') }}"><i class="fas fa-user"></i> Profil</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('settings') }}"><i class="fas fa-cog"></i> Beállítások</a>
                                <a class="dropdown-item" href="{{ path('userManager') }}"><i class="fas fa-users"></i> Felhasználók</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('sections') }}">Szakágak</a>
                                <a class="dropdown-item" href="{{ path('teams') }}">Csapatok</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Kijelentkezés</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </div>
</header>

<div>
    {% block content %}

    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<div class="footer">
    {# todo #}
</div>
</body>
</html>
